[Desktop Entry]
Encoding=UTF-8
Name=WiFi Networks Manager
Name[bg]=WiFi мрежов мениджър
Name[de]=WiFi Netzwerkmanager
Name[fr]=Gérant des réseaux WiFi
Name[ja]=WiFiネットワークマネージャ
Name[nl]=WiFi Netwerken Manager
Name[ru]=Управление подключением к WiFi сетям
GenericName=Networks Manager
GenericName[bg]=мрежов мениджър
GenericName[de]=Netzwerkmanager
GenericName[fr]=Gérant des réseaux
GenericName[ja]=ネットワークマネージャ
GenericName[nl]=Netwerken Manager
GenericName[ru]=Менеджер сетей
Comment=Connect to WiFi Networks
Comment[bg]=Свързване към WiFi мрежи
Comment[de]=Mit WiFi Netzwerken Verbinden
Comment[fr]=Se brancher aux résaux WiFi
Comment[ja]=WiFiネットワークに接続する
Comment[nl]=Met WiFi Netwerken Aansluiten
Comment[ru]=Управление подключением к WiFi сетям
Exec=wifimgr %u
Icon=wifimgr
StartupNotify=false
Terminal=false
Type=Application
Categories=Network;System;
MimeType=
